/* -------- Google Fonts -------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root{
    --main-color: #4848d3;
    --color-light: #f0eef6;
    --color-white: #fff; 
    --color-gray: #9e98b3;
    --color-gray-shadow: rgba(158, 152, 179,0.5);
    --secondary-color: #f63b99;
}
/* ==================
Global Style
=====================*/
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    border: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins' , sans-serif;
    overflow-x: hidden;
    background: var(--color-light);
}
body.hidden{
    overflow: hidden;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1200px;
    flex-wrap: wrap;
}
img{
    vertical-align: middle;
    max-width: 400px;
    width: 100%;
}
button{
    background: none;
    font-family: inherit;
}
.btn{
    display: inline-block;
    padding: 0.5rem 1.5rem; 
    background: var(--main-color);
    color: var(--color-light);
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.5s ease;
}
nav .link-items a:hover,
.btn:hover{
    opacity: 0.8;
}
.text-muted{
    color: var(--color-gray);
}
.padding-section{
    padding: 6.5rem 0;
}
section{
    overflow: hidden;
}
section .container-title{
    display: flex;
    justify-content: center;
}
section .container-title h2{
    font-size: 3rem;
    font-weight: bold;
    opacity: .5;
    letter-spacing: -2px;
    margin-bottom: 4rem;
}
/* Scrool Bar */
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background-color: var(--color-light);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 4px;
}
/* ==================
Presentation
=====================*/
.presentation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 98;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--color-light);
    font-size: 2rem;
    font-weight: bold;
    line-height: 2;
    transition: transform 1s ease 1.9s;
}
.presentation h2{
    transition: transform 1s ease 1s, opacity 1s ease 1s;
}
.presentation p{
    transition: transform 1s ease 1.4s , opacity 1s ease 1.4s;
}
.presentation.translate{
    transform: translateY(-100%);
}
.presentation.translate h2,
.presentation.translate p{
    transform: translateY(-4rem);
    opacity: 0;
}
/* ==================
Animation
=====================*/
@keyframes pageLoader{
    0%,100%{
        transform: translateX(-3.5rem);
    }
    50%{
        transform: translateX(3.5rem);
    }
}
/* ==================
NavBar
=====================*/
nav{
    width: 100%;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
nav .logo{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    transform: translateX(calc(-100% - 1rem));
    transition: transform 0.5s ease 3s;
}
nav a.btn{
    transform: translateX(calc(100% + 1rem));
    transition: transform 0.5s ease 3s;
}
nav.loading .logo,
nav.loading a.btn,
nav.loading .link-items a{
    transform: translate(0);
}
nav .logo span{
    background: var(--main-color);
    color: var(--color-light);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo a{
    color: var(--main-color);
    font-weight: bold;
}
nav .link-items{
    display: flex;
    align-items: center;
}
nav .link-items a{
    margin-right: 1.5rem;
    color: var(--main-color);
    font-weight: bold;
    position: relative;
    transition: transform 0.5s ease 0s;
    transform: translateY(calc(-100% - 0.5rem));
}
nav .link-items a:nth-child(1){
    transition-delay: 3.1s;
}
nav .link-items a:nth-child(2){
    transition-delay: 3.2s;
}
nav .link-items a:nth-child(3){
    transition-delay: 3.3s;
}
nav .link-items a:nth-child(4){
    transition-delay: 3.4s;
}
nav .link-items a:nth-child(5){
    display: none;
}
nav .link-items a::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    transition: width 0.5s ease;
}
nav .link-items a:hover::after{
    width: 100%;
}
nav .nav-toggler{
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1001;
    cursor: pointer;
    transform: translateX(calc(100% + 1rem));
    transition: transform 0.5s ease 3s;
}
nav.loading .nav-toggler{
    transform: translateX(0);
}
nav .nav-toggler span{
    width: 2rem;
    height: 0.2rem;
    background: var(--main-color);
    position: relative;
}
nav .nav-toggler span::after,
nav .nav-toggler span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    transition: transform 1s ease;
}
nav .nav-toggler span::after{
    transform: translateY(-9px);
}
nav .nav-toggler span::before{
    transform: translateY(9px);
}
nav .nav-toggler.open span{
    background: transparent;
}
nav .nav-toggler.open span::after{
    transform: rotate(45deg);
    background: var(--color-light);
}
nav .nav-toggler.open span::before{
    transform: rotate(-45deg);
    background: var(--color-light);
}
/* ==================
Home Section
=====================*/
.home-section{
    padding: 2rem 0;
    position: relative;
}
.home-section::after{
    content: '';
    position: absolute;
    top: -70px;
    left: 0;
    background: var(--main-color);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(140px);
}
.home-section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-section .container .row{
    padding: 6.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
.home-section .discover-text,
.home-section .discover-image{
    width: 50%;
}
.home-section .discover-text .text-inner{
    position: relative;
}
.home-section .discover-text .text-inner::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: var(--secondary-color);
    filter: blur(10px);
    opacity: 0;
    transition: opacity 1s ease 5.4s;
}
.home-section .discover-text h1{
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: var(--main-color);
    transition: transform 0.5s ease 3.6s , opacity 0.5s ease 3.6s;
}
.home-section .discover-text p{
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.7;
    transition: transform 0.5s ease 4s , opacity 0.5s ease 4s;
}
.home-section .discover-text .btn{
    padding: 1rem 2rem;
    transition: all 0.5s ease 4.4s;
}
.home-section .our-professors{
    padding: 3rem 0 0;
}
.home-section .discover-text h1,
.home-section .discover-text p,
.home-section .discover-text .btn,
.home-section .our-professors h3,
.home-section .discover-text .our-professors .professors-slide{
    opacity: 0;
    transform: translateX(calc(-100% - 1rem));
}
.home-section.loading .discover-text h1,
.home-section.loading .discover-text p,
.home-section.loading .discover-text .btn,
.home-section.loading .our-professors h3,
.home-section.loading .discover-text .our-professors .professors-slide{
    transform: translateX(0);
    opacity: 1;
}
.home-section .our-professors h3{
    color: var(--main-color);
    margin-bottom: 2rem;
    transition: all 0.5s ease 4.8s;
}
.home-section .our-professors .professors-slide img{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}
.home-section .our-professors .professors-slide{
    padding: 1rem 0;
    background: var(--main-color);
    color: var(--color-light);
    border-radius: 15px;
    box-shadow: 0 0 10px var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: all 0.5s ease 5.4s;
}
.home-section .our-professors .professors-slide .professors-text{
    height: 2.9rem;
}
.home-section .discover-image{
    display: flex;
    justify-content: center;
    position: relative;
}
.home-section .discover-image::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--main-color);
    filter: blur(10px);
    opacity: 0;
    transition: opacity 1s ease 5.4s;
}
.home-section.loading .discover-text .text-inner::after,
.home-section.loading .discover-image::after{
    opacity: 1;
}
.home-section .discover-image .inner-image{
    position: relative;
}
.home-section .discover-image .inner-image img{
    z-index: 2;
    overflow: hidden;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(1rem);
    transition: all 1.5s ease 3s;
}
.home-section.loading .discover-image .inner-image img{
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 0 25px var(--color-gray-shadow);
}
.home-section .discover-image .inner-image::after,
.home-section .discover-image .inner-image::before{
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease 2.7s;
    height: 0;
    width: 50%;
}
.home-section .discover-image .inner-image::after{
    top: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: var(--main-color);
}
.home-section .discover-image .inner-image::before{
    bottom: 0;
    right: 0;
    background: var(--secondary-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.home-section.loading .discover-image .inner-image::after,
.home-section.loading .discover-image .inner-image::before{
    height: 100%;
}
.home-section .discover-image .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    padding: 1rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s ease 3s;
}
.home-section.loading .discover-image .icon{
    opacity: 1;
}
.home-section .discover-image .icon-1{
    top: 50%;
    right: -5%;
    background: var(--main-color);
}
.home-section .discover-image .icon-2{
    bottom: 10%;
    left: -5%;
    background: var(--secondary-color);
}
.home-section .discover-image .icon-3{
    top: -5%;
    left: 25%;
    background: var(--color-white);
    color: var(--main-color);
}
/* ==================
About Section
=====================*/
.about-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-section .about-text,
.about-section .about-img{
    width: 50%;
}
.about-section .about-text{
    padding-left: 2rem;
}
.about-section .about-img  {
    display: flex;
}
.about-section .about-img .inner-img{
    position: relative;
    width: 450px;
    height: 325px;
    background:transparent;
}
.about-section .about-img .inner-img .img-slider{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.about-section .about-img .inner-img .slide{
    position: absolute;
    width: 100%;
    z-index: 1;
    clip-path: circle(0% at 0 50%);
}
.about-section .about-img .inner-img .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 1.5s;
    transition-property: clip-path;
}
.about-section .about-img .inner-img .slide .info{
    position: absolute;
    width: 350px;
    top: 0.5rem;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    padding: 1rem 1.5rem;
    background: rgba(0, 0, 0,0.1);
    border-radius: 12px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.about-section .about-img .inner-img .slide .info h2{
    text-transform: uppercase;
    color: var(--color-white);
}
.about-section .about-img .inner-img::after{
    content: '';
    position: absolute;
    top: -2rem;
    right: 0;
    width: 6rem;
    height: calc(100% + 4rem);
    background: var(--main-color);
    z-index: -1;
    transform: translateX(50%);
    border-radius: 12px;
    box-shadow: 0 0 10px var(--color-gray-shadow);
}
.about-section .about-img .img-slider img{
    border-radius: 15px;
    box-shadow: 0 0 8px var(--color-gray-shadow);
    overflow: hidden;
    max-width: 450px;
    max-height: 320px;
    width: 100%;
    height: 100%;
}
.about-section .about-text{
    position: relative;
}
.about-section .about-text::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: -10px;
    right: 0;
    border-radius: 50%;
    background: var(--main-color);
    filter: blur(10px);
}
.about-section .about-text h4{
    margin-bottom: 1rem;
    color: var(--main-color);
}
.about-section .about-text p{
    line-height: 1.7;
}
/* ==================
Experties Section
=====================*/
.experties-section .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.experties-section .content .item{
    width: calc((100% / 4) - 2rem);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 5px 2px 12px var(--color-gray-shadow);
    background: rgba(255, 255, 255,0.3);
    z-index: 1;
    position: relative;
}
.experties-section .content .item:first-child{
    margin-left: 0;
}
.experties-section .content .item:last-child{
    margin-right: 0;
}
.experties-section .content .item h4,
.experties-section .content .item p{
    transition: color 1s ease;
}
.experties-section .content .item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    border-radius: 12px;
    transition: width 1s ease;
}
.experties-section .content .item:nth-of-type(odd)::after{
    background: var(--main-color);
}
.experties-section .content .item:nth-of-type(even)::after{
    background: var(--secondary-color);
}
.experties-section .content .item:hover::after{
    width: 100%;
}
.experties-section .content .item:hover h4,
.experties-section .content .item:hover p{
    transition: color 1s ease;
    color: var(--color-light);
}
.experties-section .content .item .icon{
    font-size: 1.7rem;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    transition: color .5s ease;
    overflow: hidden;
}
.experties-section .content .item:nth-child(odd) .icon{
    background: var(--main-color);
    color: var(--color-light);
}
.experties-section .content .item:nth-child(even) .icon{
    background: var(--secondary-color);
    color: var(--color-light);
}
.experties-section .content .item .icon:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    transition: height 1s ease;
    z-index: -1;
}
.experties-section .content .item:hover .icon:after{
    height: 100%;
}
.experties-section .content .item .icon:after{
    background: var(--color-light);
}
.experties-section .content .item:hover:nth-child(odd) .icon{
    color: var(--main-color);
}
.experties-section .content .item:hover:nth-child(even) .icon{
    color: var(--secondary-color);
}
.experties-section .content .item .text h4{
    margin: 1rem 0;
    font-size: 1.1rem;
}
.experties-section .content .item .text p{
    line-height: 1.5;
}
/* ==================
Promotions Section
=====================*/
.promotions-section .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.promotions-section .content::after,
.promotions-section .content::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--main-color);
    filter: blur(10px);
}
.promotions-section .content::after{
    left: 0;
    top: -80px;
}
.promotions-section .content::before{
    right: 0;
    bottom: -80px;
}
.promotions-section .item{
    width: calc((100%/3) - 2rem);
    padding: 2rem;
    background: var(--main-color);
    border-radius: 15px;
    color: var(--color-light);
    text-align: center;
    position: relative;
    box-shadow: 5px 2px 12px var(--color-gray-shadow);
}
.promotions-section .item .icon{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--color-light);
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--main-color);
}
.promotions-section .item h4{
    margin: 1rem 0;
    font-size: 1.1rem;
}
/* ==================
Contact Section
=====================*/
.contact-section .container{
    position: relative;
    display: flex;
}
.contact-section .contactinfo{
    position: absolute;
    top: 2rem;
    left: 1rem;
    padding: 2rem;
    width: 18rem;
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    background: var(--main-color);
    color: var(--color-white);
    box-shadow: 2px 5px 10px var(--color-gray-shadow);
    border-radius: 12px;
}
.contact-section .contactinfo h2{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.contact-section .contactinfo .info{
    position: relative;
    margin: 1.5rem 0;
}
.contact-section .contactinfo .info li{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 1.5rem 0;
    gap: 1rem;
    cursor: pointer;
}
.contact-section .contactinfo .info li span:nth-child(1){
    font-size: 1.2rem;
    opacity: 0.7;
    color: var(--color-light);
}
.contact-section .contactinfo .info li span:nth-child(2){
    font-weight: bold;
    opacity: 0.8;
}
.contact-section .contactinfo .info li:hover span:nth-child(1),
.contact-section .contactinfo .info li:hover span:nth-child(2){
    opacity: 1;
}
.contact-section .contactinfo .sci{
    position: relative;
    display: flex;
    gap: 1.5rem;
}
.contact-section .contactinfo .sci a{
    color: var(--color-light);
    font-size: 1.5rem;
    opacity: .7;
}
.contact-section .contactinfo .sci li:hover a{
    opacity: 1;
}
.contact-section .contactForm{
    width: calc(100% - 8.5rem);
    padding: 4rem 4rem 0 12rem;
    margin-left: 8.5rem;
    background: var(--color-white);
    box-shadow: 2px 5px 10px var(--color-gray-shadow);
    border-radius: 12px;
}
.contact-section .contactForm h2{
    color: var(--main-color);
    font-size: 1.5rem;
}
.contact-section .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2.5rem;
}
.contact-section .contactForm .formBox,
.contact-section .contactForm .inputBox{
    position: relative;
    margin: 0 0 2.5rem 0;
}
.contact-section .contactForm .inputBox.w50{
    width: 47%;
}
.contact-section .contactForm .inputBox.w100{
    width: 100%;
}
.contact-section .contactForm .inputBox input,
.contact-section .contactForm .inputBox textarea{
    width: 100%;
    resize: none;
    padding: 0.25rem;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
}
.contact-section .contactForm .inputBox textarea{
    min-height: 80px;
}
.contact-section .contactForm .inputBox span{
    position: absolute;
    left: 0.25rem;
    padding: 0.125rem 0;
    font-size: 1.1rem;
    color: var(--color-gray);
    transition: 0.5s;
    pointer-events: none;
}
.contact-section .contactForm .inputBox input:focus ~ span,
.contact-section .contactForm .inputBox textarea:focus ~ span,
.contact-section .contactForm .inputBox input:valid ~ span,
.contact-section .contactForm .inputBox textarea:valid ~ span{
    transform: translateY(-1.5rem);
    font-size: 0.8rem;
    color: var(--main-color);
}
.contact-section .contactForm .inputBox input[type="submit"]{
    position: relative;
    border: none;
    color: var(--color-white);
    max-width: 6rem;
    padding: 0.7rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ==================
Footer
=====================*/
footer{
    margin-top: 6.5rem;
    background: var(--main-color);
    padding: 1rem 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px var(--color-gray-shadow);
}
footer p{
    color: var(--color-light);
    font-size: 1.1rem;
    font-weight: bold;
}

/* ==================
Responsive For Tablette and small Laptop
=====================*/
@media screen and (max-width:991px) {
    nav .nav-toggler{
        display: flex;
    }
    nav a.btn{
        display: none;
    }
    nav .link-items a:nth-child(5){
        display: block;
    }
    nav .link-items{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--main-color);
        z-index: 1000;
        justify-content: center;
        flex-direction: column;
        visibility: hidden;
        clip-path: circle(1.6% at 99% 1%);
        transition: none;
    }
    nav .link-items.open{
        visibility: visible;
        clip-path: circle(139.4% at 99% 2%);
        transition:all 1.5s ease;
    }
    nav .link-items a{
        color: var(--color-light);
        font-size: 2rem;
        margin-bottom: 1rem;
        transform: translateY(0);
    }
    nav .link-items a::after{
        background: var(--color-light);
        height: 0.3rem;
    }
    .home-section .discover-text h1{
        font-size: 1.5rem;
    }
    .home-section .discover-text p.text-muted{
        font-size: 0.85rem;
    }
    .home-section .discover-text .btn{
        padding: 0.75rem 1rem;
    }
    .home-section .our-professors h3{
        font-size: 1rem;
    }
    .home-section .our-professors .professors-slide .professors-text{
        height: 2.7rem;
    }
    .home-section .our-professors .professors-slide .professors-text h4,
    .home-section .our-professors .professors-slide .professors-text p{
        font-size: 0.85rem;
    }
    .home-section .our-professors .professors-slide{
        width: 90%;
    }
    .home-section .discover-image{
        justify-content: right;
    }
    .home-section .discover-image img{
        max-width: 350px;
        width: 100%;
    }
    .home-section .discover-image::after,
    .promotions-section .content::after,
    .promotions-section .content::before,
    .about-section .about-text::after{
        width: 0;
    }
    .about-section .about-text{
        padding-left: 4rem;
    }
    .about-section .about-img .inner-img::after{
        display: none;
    }
    .promotions-section .item,
    .experties-section .content .item{
        width: calc(50% - 1rem);
        margin-bottom: 2.5rem;
    }
    .contact-section .contactinfo{
        top: -20%;
        left: 6.5rem;
        width: calc(100% - 12rem);
        flex-direction: unset;
        max-height: 15rem;
        padding: 1rem 2rem;
    }
    .contact-section .contactinfo .reach{
        display: flex;
        flex-direction: column;
    }
    .contact-section .contactinfo .reach .sci{
        flex-direction: column;
        align-items: center;
    }
    .contact-section .contactForm{
        width: 100%;
        margin-left: 0;
        padding: 10rem 4rem 0 4rem;
    }
    .contact-section .container-title h2.text-muted{
        margin-bottom: 10rem;
    }
    .contact-section .contactinfo h2,
    .contact-section .contactForm h2{
        font-size: 1.3rem;
    }
    .contact-section .contactinfo .info li span,
    .contact-section .contactForm .inputBox input,
    .contact-section .contactForm .inputBox textarea,
    .contact-section .contactForm .inputBox span{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:820px){
    .home-section .row{
        /* padding: 10rem 0; */
    }
    .about-section .about-text,
    .about-section .about-img,
    .home-section .discover-text,
    .home-section .discover-image{
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .about-section .about-img,
    .home-section .discover-image{
        justify-content: center;
        order: -1;
        margin: 2rem 0;
    }
    .home-section .our-professors .professors-slide{
        width: 100%;
    }
    .promotions-section .item,
    .experties-section .content .item,
    .contact-section .contactForm .inputBox.w50,
    .contact-section .contactinfo{
        width: 100%;
    }
    .contact-section .contactinfo{
        position: unset;
        transform: translate(0);
        box-shadow: 0 0 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .contact-section .contactForm{
        padding: 2rem;
        box-shadow: 0 0 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .contact-section .contactForm .formBox, .contact-section .contactForm .inputBox:last-child{
        margin-bottom: 0;
    }
    .about-section .container-title h2.text-muted,
    .contact-section .container-title h2.text-muted{
        margin-bottom: 2.5rem;
    }
}
@media screen and (max-width:575px){
    .about-section .about-img .inner-img .slide .info{
        width: 250px;
    }
    .about-section .about-img .inner-img .slide .info h2{
        font-size: 1.2rem;
    }
    .contact-section .contactinfo h2,
    .contact-section .contactForm h2{
        font-size: 1rem;
    }
    .contact-section .contactinfo .info li span{
        font-size: 0.75rem;
    }
    footer p{
        font-size: 0.85rem;
    }
}
